@media (max-width: 1200px) {
    
    /* ## Slide Left ##*/
    
    #slide-left {

        background-image: url(../images/layout-assets/scrolling.svg);
        background-position: 175px center;
        background-repeat: no-repeat;
        
    }
    
    /*## Slide Right ##*/

    
    /*## Tooltip Component ##*/
    
    .tooltip {
        display: none!important;
    }


}

@media (max-width:500px) {
    
    /*## Exit Dialog Component ##*/
    
    .exitDialog .modal-dialog{
        width:250px!important;
        margin-top:20px;
        margin-left:auto;
        margin-right: auto;
    }
}