/**
## UI Defaults
*/

.msg-error-dark::before {
    content: " ";
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;    
    border-bottom: 10px solid #410606;
    pointer-events: none;
    position: absolute;
    margin-top:-20px;
}

.msg-error-dark {
    background-color: rgb(65, 6, 6); 
    padding:10px 20px 10px 20px;
    font-size:14px;
    font-family: "Source Sans Pro";
    color:#d40000;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom:10px;      
}


.msg-warning-dark::before {
    content: " ";
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;    
    border-bottom: 10px solid rgb(65, 63, 6);
    pointer-events: none;
    position: absolute;
    margin-top:-20px;
}
.msg-warning-dark {
    background-color: rgb(65, 63, 6);
    padding:10px 20px 10px 20px;
    font-size:14px;
    font-family: "Source Sans Pro";
    color:#d4af00;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom:10px;        
}
.msg-warning-dark a {
    text-decoration: underline;
}

.fadein,
.fadeout {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    display: block !important;
    margin-top:-10px;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    display: block !important;
    margin-top:0;
}

input.ng-invalid:focus {
    border:red 1px solid !important;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}